# Project-wide
###############################################
node_modules
.venv
.DS_Store

# Editor directories and files
.vscode/
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Server
###############################################

### macOS ###
apps/server/.DS_Store
apps/server/.AppleDouble
apps/server/.LSOverride
apps/server/Icon
apps/server/._*
apps/server/.Spotlight-V100
apps/server/.Trashes
apps/server/.AppleDB
apps/server/.AppleDesktop
apps/server/Network Trash Folder
apps/server/Temporary Items
apps/server/.apdisk

### Python ###
# Byte-compiled / optimized / DLL files
apps/server/**/*.py[cod]
apps/server/**/*.so
apps/server/__pycache__/
apps/server/**/__pycache__/


# Distribution / packaging
apps/server/.Python
apps/server/env/
apps/server/build/
apps/server/develop-eggs/
apps/server/dist/
apps/server/downloads/
apps/server/eggs/
apps/server/lib/
apps/server/lib64/
apps/server/parts/
apps/server/sdist/
apps/server/var/
apps/server/*.egg-info/
apps/server/.installed.cfg
apps/server/*.egg

# PyInstaller
apps/server/*.manifest
apps/server/*.spec

# Installer logs
apps/server/pip-log.txt
apps/server/pip-delete-this-directory.txt

# Unit test / coverage reports
apps/server/htmlcov/
apps/server/.tox/
apps/server/.coverage
apps/server/.cache
apps/server/nosetests.xml
apps/server/coverage.xml

# Translations
apps/server/*.mo
apps/server/*.pot

# Sphinx documentation
apps/server/docs/_build/

# PyBuilder
apps/server/target/

### Django ###
apps/server/*.log
apps/server/*.pot
apps/server/*.pyc
apps/server/local_settings.py
apps/server/.env
apps/server/db.sqlite3

# Client
###############################################
apps/client/.env

# Logs
apps/client/logs/
apps/client/*.log
apps/client/npm-debug.log*
apps/client/yarn-debug.log*
apps/client/yarn-error.log*
apps/client/pnpm-debug.log*
apps/client/lerna-debug.log*

# Build and dependencies
apps/client/node_modules/
apps/client/dist/
apps/client/dist-ssr/
apps/client/*.local
