@use '../../styles/_variables' as vars;

.chartContainer {
  width: 100%;
  max-width: 800px;
  background-color: #fff;
  border: 1px solid vars.$input-border;
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 1.5rem;
}

.chartTitle {
  font-size: 1.6rem;
  color: vars.$primary-color;
  text-align: center;
  margin-bottom: 1rem;
}

.rechartContainer {
  width: 100%;
  height: 400px;

  .recharts-tooltip-wrapper {
    color: vars.$secondary-color;
  }
}
